<h2>趣味一覧</h2>

<p>趣味</p>


<% @labels.each do |label| %>
  <%= label.name %>
  <%= link_to "ラベルを削除する", label_path(label.id), method: :delete %>
<% end %>


  <%= link_to "ラベルを作成する", new_label_path, class:"btn btn-info" %>
  <%= link_to "ユーザー一覧に戻る", users_path, class:"btn btn-info" %>
