<div class="whole">

  <div>
<header class="top-header">
    <div class="top-content-wrapper top-header-nav">
        <h1>Polybility
        </h1>
        <nav>
            <ul>
                <li><a href="#">トップページ</a></li>
                <li id="polybility"><a href="#">Polybilityとは</a></li>
                <li><a href="#">アプリ内容</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">Let's get started!</a></li>
            </ul>
        </nav>
    </div>
  </header>
  <section class="top-mainvisual">
    <img src="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="guitar">
    <h2>外国語を楽しく学びませんか？</h2>
    <div class="top-bg1"></div>
  </section>
 <main>
   <section class="top-greeting">
      <div class="top-content-wrapper">
        <div class="top-contents">
          <figure><img src="https://images.unsplash.com/photo-1562917947-859259de851c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2354&q=80" alt=""></figure>
          <div class="top-content">
            <h2>Polybilityとは</h2>
            <p>Polybilityとは、外国語を学んでいる日本人と<br>
              日本語を学んでいる外国人を共通の趣味などを通じ<br>
              言語交換をする機会を作り、語学学習をしながら国際交流を楽しむためのアプリです.<br>
              Polyは複数を表す意味で、多言語話者のことを英語でPolyglotと言います。 <br>
              Bilityは可能性を表す意味で、新しい言語が話せるようになれば<br>
              自分の可能性を広げることができると信じていますのでPolybilityと名付けました。
            </p>
            </p>
            </div>
           </div>
         </div>
      </div>
    </section>
 <section class="top-work">
   <div class="top-content-wrapper">
     <h2>アプリ内容<h2>
       <ul>
         <li>
           <a href="#">
             <figure>
               <img src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
             </figure><h3>ユーザー機能</h3>
             <p>ユーザー一覧から自分の趣味や言語でマッチする方を検索することができ、直接メッセージも送ることが可能です。</p>
           </a>
         </li>

         <li>
           <a href="#">
             <figure>
               <img src="https://images.unsplash.com/photo-1521575107034-e0fa0b594529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
             </figure>
             <h3>投稿機能</h3>
             <p>投稿機能では勉強の共有や言語交換のパートナーとの思い出など、SNSアプリのようにお好きな写真、文章を投稿できます。</p>
           </a>
         </li>

         <li>
           <a href="#">
             <figure>
               <img src="https://images.unsplash.com/photo-1482715091246-822e47d61e1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
             </figure>
             <h3>お気に入り&フォロー機能</h3>
             <p>お気に入りでは気に入った投稿に対していいねをつけることができ、いいね一覧で投稿を見ることができます。
             フォロー機能では友達になりたい人をフォローすることができる機能です。</p>
           </a>
         </li>
    </ul>
   </div>
 </section>
 <section class="top-news">
   <div class="top-content-wrapper">
     <h2>NEWS</h2>
     <ul>
      <li><a href="#"><time>2019-00-00</time>本文が入ります。本文が入ります。本文が入ります。</a></li>
      <li><a href="#"><time>2019-00-00</time>本文が入ります。本文が入ります。本文が入ります。本文が入ります。</a></li>
      <li><a href="#"><time>2019-00-00</time>本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。</a></li>
      <li><a href="#"><time>2919-00-00</time>本文が入ります。本文が入ります。本文が入ります。</a></li>
    </ul>

   </div>
 </section>
 <section class="top-recruit">
    <div class="top-recruit-img"><img src="https://images.unsplash.com/photo-1528145894-9c2e2559f720?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="guitar">
    <h2><a href="#">Let's get strated!</a></h2>
    <div class="top-bg2"></div>
 </section>
 </main>
 </div>
