<h1><%= t('users.followed_index') %></h1>
<div class="flex-container">
  <% @user.following.each do |user| %>
    <div class="follow-card">
      <div class="profile-card__inner">
        <div class="profile-thumb">
          <p><%=link_to image_tag(user.icon.url),user_path(user.id)%></p>
        </div>
        <div class="profile-content">
          <span class="profile-name"><%= link_to user.name,user_path(user.id) %></span>
          <div class="message_button">
            <%= link_to t('users.message'), conversations_path(sender_id: current_user.id, recipient_id: user.id),class:"btn btn-green", method: :post %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
