<h1><%= t('users.followed_index') %></h1>
<div class="flex-container">
  <% @user.following.each do |user| %>
    <div class="follow-card">
      <div class="profile-card__inner">
        <div class="profile-thumb">
          <p><%=link_to image_tag(user.icon.url),user_path(user.id)%></p>
        </div>
        <div class="profile-content">
          <span class="profile-name"><%= link_to user.name,user_path(user.id) %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
