// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pc: 1500px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.favorite-post-button {
  @include pc{
    width:13%;
    margin:auto;
  };

  @include sp{
    width:20%;
    margin:auto;
  };
}

.favo-img{
  width:50%;
  border-radius: 90px;
  @include sp{
  margin-bottom:10px;
  }
}

.favo-cont{
  display: flex;
  flex-wrap:wrap;
}
