// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .flex-container {
//   display: flex;
//   flex-wrap: wrap;
// }


.post-card{
  height: 550px;
  width: 100%;
  max-width:600px;
  position: relative;
  background: #ffc492; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
  margin:30px;
  padding:10px;
  margin-left:380px;
  margin-bottom:40px;
  border-radius: 10%;
}

.post-card:before{
 width:184%;
 height:500px;
 content:"";
 transform:skew(-5deg,42deg);
 background: #FFE6A5; /*斜め背景の色*/
 position:  absolute;
 top:-30%;
 left:-26%;
 z-index: 0;
}

.post-card__inner{
 position: relative;
 width:240px;
 left:170px;

}

.post-thumb{

    overflow: hidden;
    width: 280px;
    height: 260px;
    // border: #fff 3px solid;
    // border-radius: 55px;
    margin-left: -10px;
    margin-right: auto;
    margin-top: 20px;
    background: #ffc492;
   border-radius: 10%;
}

.post-thumb img{
  display: block;
    width: 350px;
    height: 270px;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
   object-fit: contain;


}

.post-content{
  padding: 15px;
}

.profile-content span{
  display: block;
}

.profile-name{
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}



// .flex-container {
//   display: flex;
//   flex-wrap: wrap;
// }
