// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// posts index view
.post-index-top {
  text-align: center;
}

.post-card{
  height: 600px;
  width: 100%;
  max-width:600px;
  position: relative;
  background: #ffc492; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
  margin:30px;
  padding:10px;
  margin:auto;
  margin-bottom:40px;
  border-radius: 10%;
}

.post-card:before{
  width:184%;
  height:500px;
  content:"";
  transform:skew(-5deg,42deg);
  background: #FFE6A5; /*斜め背景の色*/
  position:  absolute;
  top:-30%;
  left:-26%;
  z-index: 0;
}

.index-img{
  border-radius: 50%;
}

.post-button {
  display: flex;
  margin:auto;
  width:26%;
}
.post-card__inner{
 position: relative;
 width:240px;
 margin:auto;
}

.post-card__inner p {
  text-align: center;
}

.post-thumb{
  overflow: hidden;
  width: 280px;
  height: 260px;
  // border: #fff 3px solid;
  // border-radius: 55px;
  margin-left: -10px;
  margin-right: auto;
  margin-top: 20px;
  background: #FFE9A6;
  border-radius: 10%;
}

.post-thumb img{
  display: block;
  width: 350px;
  height: 270px;
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  object-fit: contain;
}

.post-content{
  padding: 15px;
}

.profile-content span{
  display: block;
}

.profile-name{
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.post-icon {
  background-color:white;
}

.post-index-detail {
  margin: auto;
  width:13%;
}

//post show views

.post-show-container {
  position: relative;
  background-color: white;
  width:60%;
  height:600px;
  left:280px;
  box-shadow: 0 0 8px #fdb8b8;
  border-radius: 30px;
}

.show-img img {
  text-align: center;
  margin-top:20px;
  max-width: 300px;
  object-fit: contain;
  border-radius: 50%;
  border: solid 3px #ffe2da;
}



.post-show-container p{
  text-align: center;
}

.post-show-menu{
  display: flex;
  width:50%;
  margin:auto;
  margin-top:10px;
}

.post-show-menu p {
  margin:auto;
}


// post new
.form-group2 .title {
  margin:auto;
  width:50%;
}

.form-group2 .content {
  margin:auto;
  width:50%;
  height: 100px;
}

.form-group2{
  width:50%;
  margin:auto;
}

.post-button {
  width:20%;
  margin:auto;
  margin-top:15px;
}

.post_image {
  width:50%;
  margin:auto;
}

h2  {
  text-align: center
}

.back_button {
  text-align: center;
}
