// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// プロフィールカード index
p .profile-card {
  text-align: center;
}
.profile-card{
  width: 100%;
  max-width:300px;
  position: relative;
  background: #fdf8ea; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
  margin:10px;
  padding:30px;
  margin-left: 40px;
  border-radius: 30px;
}

.profile-card:before{
 width:135%;
 height:257px;
 content:"";
 transform:skew(-5deg,42deg);
 background: #FFD1AE; /*斜め背景の色*/
 position:  absolute;
 top:-30%;
 left:-15%;
 z-index: 0;
}

.profile-card__inner{
 position: relative;
 width:240px;
}

.profile-thumb{
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #fff;
}

.profile-thumb img{
  display: block;
    width: 100%;
    height: auto;
}

.profile-content{
  padding: 15px;
}

.profile-content span{
  display: block;
}

.profile-name{
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.profile-job{
  margin-bottom: 10px;
  color: #ccc;
  font-size: 10px;
  text-align: center;
}

.profile-intro{
  font-size: 12px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.user-buttons{
  display: flex;

}
.btn{
  margin:10px;
}

.search_form {
  width:50%;
  margin:auto;
}

.search_button{
  text-align: center;
  margin:10px;
}

.hobby_form {
  width:15%;
  margin:auto;
  margin-bottom: 15px;
}


.search_form .select_language {
  width:60%;
  margin:10px;
}

.page {
  width:15%;
  margin:auto;
}

// ------ここまで


// signup

//背景画像　画面いっぱいに
.box {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: image-url("pic1.jpg");
  position: relative;
}

//新規登録フォーム
.box-container {
  opacity: 0.8;
  width: 40%;
  height: 380px;
  margin-left: auto;
  text-align: center;
  margin-top:50px;
  margin-right: 50px;
}
.box-container .field {
  margin:10px;
}

.signup-text {
  margin:auto;
  width:10%

}

.none {
  display: none;
}

#img_prev {
  width:38%;
  height:auto;
  max-height: 140px;

}

// ログインフォーム
.box2 {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: image-url("pic2.jpg");
    position: relative;
}

//user show 画面
.pr-container {
  background-color: #ffeaea;
  width:70%;
  height:800px;
  position: relative;
  margin:auto;
  border-radius: 30px;
  box-shadow: 0 0 8px #fdb8b8;
  margin-bottom: 20px;

}
.stats {
  text-align: center;
}


.proicon {
  margin-top:20px;
  max-height: 300px;
  border-radius: 50%;
  background-color: white;
  border: solid 3px #ffd0a5;
}

.pr-container p {
  text-align: center;
}

.pr-container span {
  text-align: center;
}

.user-show-post-buttons{
  display: flex;
  width:50%;
  margin:auto;
}

.age_gender {
  display: flex;
  width:16%;
  margin:auto;
}

.detail-button {
  margin:auto;
  width:18%;
}


// ユーザー編集画面
.pr-edit-container {
  position: relative;
  background-color: #ffeaea;
  width:60%;
  margin:auto;
  height:1090px;
  box-shadow: 0 0 8px #fdb8b8;
  border-radius: 30px;
  margin-bottom: 40px;


}

.pr-edit-container .form-control {
  width: 70%;
  margin:auto;
}

.pr-edit-container .field {
  text-align: center;
  margin:auto;
  width:50%
}

//フォローのshow

.follow-parent{
  display: flex;
}

.follow-icon {
  border-radius: 50%;
  height: 170px;
  width: 56%;
  border:solid 3px white;
  background-color: white;
}

.follow-children {
  text-align: center;
  margin:20px;
}
